<div id="about"></div>
<div class="description-wrapper" style="background-image: linear-gradient(rgba(250,250,250,0.9), rgba(250,250,250,0.9)), url(https://res.cloudinary.com/montycat/image/upload/v1528537737/Screen_Shot_2018-06-09_at_10.48.06.png)">
 <div class="container-fluid">
  <div class="row">
    <div class="about-title">
      <h2 data-aos="fade-left" data-aos-duration="2000">About Sparks & Myers</h2>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div>
        <div class="sparks-content text-center">
         <p data-aos="fade-right" data-aos-duration="2000">Philip Sparks & Richard Myers are experts in all aspects of Golf Course architecture including, planning, risk mitigation, renovations and infill projects. Renovations include courses designed by Colt, Hotchkin, Hutchinson, Pennink, Braid, Hawtree, JH Taylor, Vardon as well as many other less well-known architects <br><br><i>“We have renovated many traditional courses taking great care to respect the original architect’s ethos and yet make the challenges appropriate to the modern game.”</i></p>
       </div>
     </div>
   </div>
 </div>
</div>
</div>
