<div class="testimonial_slider_2">
  <input type="radio" name="slider_2" id="slide_2_1" checked />
  <input type="radio" name="slider_2" id="slide_2_2" />
  <input type="radio" name="slider_2" id="slide_2_3" />
  <input type="radio" name="slider_2" id="slide_2_4" />
  <div class="boo_inner clearfix">
    <div class="slide_content">
      <div class="testimonial_2">
       <i class="fa fa-quote-left"></i>
       <i class="fa fa-quote-right"></i>
        <div class="content_2 text-center">
        <p>Highly recommend. Very professional and friendly team. Fantastic service.
        Thank you.</p>
        </div>
        <div class="author_2 text-center">
        <h3>Jay Ingram</h3>
        <h4>Deal, Kent</h4>
        </div>
     </div>
  </div>
  <div class="slide_content">
    <div class="testimonial_2">
      <i class="fa fa-quote-left"></i>
      <i class="fa fa-quote-right"></i>
      <div class="content_2 text-center">
        <p>Excellent service, excellent prices! Thanks guys!</p>
      </div>
      <div class="author_2 text-center">
        <h3>Jodie Pearson</h3>
        <h4>Deal, Kent</h4>
      </div>
    </div>
  </div>
  <div class="slide_content">
    <div class="testimonial_2">
      <i class="fa fa-quote-left"></i>
      <i class="fa fa-quote-right"></i>
      <div class="content_2 text-center">
        <p>Nathan and the team at Olympian are second to none! Thanks for all your help guys!</p>
      </div>
      <div class="author_2 text-center">
        <h3>David Harrington</h3>
        <h4>Canterbury, Kent</h4>
      </div>
    </div>
  </div>
  <div class="slide_content">
    <div class="testimonial_2">
      <i class="fa fa-quote-left"></i>
      <i class="fa fa-quote-right"></i>
      <div class="content_2 text-center">

        <p>The kitchen looks amazing! Thank you so much. Really really pleased.</p>

      </div>
      <div class="author_2 text-center">
        <h3>Gemma Sparks</h3>
        <h4>Sandwich, Kent</h4>
      </div>
    </div>
  </div>
</div>
<div id="controls">
  <label for="slide_2_1"></label>
  <label for="slide_2_2"></label>
  <label for="slide_2_3"></label>
  <label for="slide_2_4"></label>
</div>
</div>
