<div class="testimonial-wrapper" id="testimonial">
  <div class="container-fluid">
    <div class="row">
      <div class="testimonial-title">
        <h2 data-aos="flip-left" data-aos-duration="2000">Our Clients Say</h2>
      </div>
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="testimonial-container">
          <div class="testimonial-carousel">
             <div class="testimonial-content">
              <div class="quotes">
               <i class="fa fa-quote-left"></i>
               <i class="fa fa-quote-right"></i>
             </div>
               <div class="content-test text-center">
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nobis, fugit deleniti earum eligendi illum unde rem esse dicta eos sapiente, omnis hic eum provident magnam dignissimos nihil nostrum culpa.</h4>
               </div>
               <div class="author">
                <p>Tim nice but dim</p>
                <p>Deal, Kent</p>
               </div>
            </div>
             <div class="testimonial-content">
              <div class="quotes">
               <i class="fa fa-quote-left"></i>
               <i class="fa fa-quote-right"></i>
             </div>
               <div class="content-test text-center">
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nobis, fugit deleniti earum eligendi illum unde rem esse dicta eos sapiente, omnis hic eum provident magnam dignissimos nihil nostrum culpa.</h4>
              </div>
              <div class="author">
                <p>Tim nice but dim</p>
                <p>Deal, Kent</p>
              </div>
            </div>
             <div class="testimonial-content">
              <div class="quotes">
               <i class="fa fa-quote-left"></i>
               <i class="fa fa-quote-right"></i>
             </div>
               <div class="content-test text-center">
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nobis, fugit deleniti earum eligendi illum unde rem esse dicta eos sapiente, omnis hic eum provident magnam dignissimos nihil nostrum culpa.</h4>
              </div>
              <div class="author">
                <p>Tim nice but dim</p>
                <p>Deal, Kent</p>
              </div>
            </div>
            <div class="testimonial-content">
              <div class="quotes">
               <i class="fa fa-quote-left"></i>
               <i class="fa fa-quote-right"></i>
             </div>
               <div class="content-test text-center">
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nobis, fugit deleniti earum eligendi illum unde rem esse dicta eos sapiente, omnis hic eum provident magnam dignissimos nihil nostrum culpa.</h4>
              </div>
              <div class="author">
                <p>Tim nice but dim</p>
                <p>Deal, Kent</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
