<div class="testimonial_slider_2">
  <input type="radio" name="slider_2" id="slide_2_1" checked />
  <input type="radio" name="slider_2" id="slide_2_2" />
  <input type="radio" name="slider_2" id="slide_2_3" />
  <input type="radio" name="slider_2" id="slide_2_4" />
  <div class="boo_inner clearfix">
    <div class="slide_content">
      <div class="testimonial_2">
       <i class="fa fa-quote-left"></i>
       <i class="fa fa-quote-right"></i>
        <div class="content_2 text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nobis, fugit deleniti earum eligendi illum unde rem esse dicta eos sapiente, omnis hic eum provident magnam dignissimos nihil nostrum culpa.</p>
        </div>
        <div class="author_2 text-center">
        <h3>Tim nice but dim</h3>
        <h4>Deal, Kent</h4>
        </div>
     </div>
  </div>
  <div class="slide_content">
    <div class="testimonial_2">
      <i class="fa fa-quote-left"></i>
      <i class="fa fa-quote-right"></i>
      <div class="content_2 text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis praesentium laboriosam fugiat eum minus eligendi unde ab, facilis illo deleniti ratione voluptatem. Quas consequatur voluptatibus debitis accusamus illo, hic excepturi?</p>
      </div>
      <div class="author_2 text-center">
        <h3>Tim nice but dim</h3>
        <h4>Deal, Kent</h4>
      </div>
    </div>
  </div>
  <div class="slide_content">
    <div class="testimonial_2">
      <i class="fa fa-quote-left"></i>
      <i class="fa fa-quote-right"></i>
      <div class="content_2 text-center">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident inventore similique, incidunt commodi quidem officia unde nihil cumque pariatur eveniet odit sed quia labore sapiente, eum blanditiis! Repellat, quis a.</p>
      </div>
      <div class="author_2 text-center">
        <h3>Tim nice but dim</h3>
        <h4>Canterbury, Kent</h4>
      </div>
    </div>
  </div>
  <div class="slide_content">
    <div class="testimonial_2">
      <i class="fa fa-quote-left"></i>
      <i class="fa fa-quote-right"></i>
      <div class="content_2 text-center">

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore et rem, numquam laudantium suscipit itaque unde animi! Voluptas sit iusto, quae aliquid pariatur aperiam molestias reprehenderit sunt. Vitae, in, nihil.</p>

      </div>
      <div class="author_2 text-center">
        <h3>Tim nice but dim</h3>
        <h4>Sandwich, Kent</h4>
      </div>
    </div>
  </div>
</div>
<div id="controls">
  <label for="slide_2_1"></label>
  <label for="slide_2_2"></label>
  <label for="slide_2_3"></label>
  <label for="slide_2_4"></label>
</div>
</div>
