<div class="testimonial-wrapper">
  <div class="testimonial-wrapper" id="testimonial">
    <div class="container-fluid">
      <div class="row">
        <div class="testimonial-title">
          <h2 data-aos="flip-left" data-aos-duration="2000">Our Clients Say</h2>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="testimonial-container">
            <div class="testimonial-carousel">
              <div class="testimonial-content">
               <div class="quotes">
                <i class="fa fa-quote-left"></i>
                <i class="fa fa-quote-right"></i>
               </div>
               <div class="content-test text-center">
                <h4>“We have worked with Sparks & Myers over the last 12 years. Initially, they gave us a hole by hole recommendation which was invaluable to the Green Committee to be able to prioritise an action plan. We have made many changes but the bunkering has certainly made the greatest impact on the course, not only improving playability but also, dramatically improving the aesthetics. Philip & Richard have been on site for all the positioning and shaping of bunkers. Not only as architects but also with spade and rake in hand, joining in with our staff . This has saved the club hiring extra staff but also it has enabled us to make changes on the day to improve the finished product, changes that would have not happened if they had not been present.”</h4>
               </div>
               <div class="author">
                <p>Gareth Austin (Course Manager)</p>
                <p>Stoke Rochford Golf Club</p>
               </div>
              </div>
              <div class="testimonial-content">
                <div class="quotes">
                  <i class="fa fa-quote-left"></i>
                  <i class="fa fa-quote-right"></i>
                </div>
                <div class="content-test text-center">
                  <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nobis, fugit deleniti earum eligendi illum unde rem esse dicta eos sapiente, omnis hic eum provident magnam dignissimos nihil nostrum culpa.</h4>
                </div>
                <div class="author">
                  <p>Tim nice but dim</p>
                  <p>Deal, Kent</p>
                </div>
              </div>
              <div class="testimonial-content">
                <div class="quotes">
                 <i class="fa fa-quote-left"></i>
                 <i class="fa fa-quote-right"></i>
                </div>
                <div class="content-test text-center">
                 <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nobis, fugit deleniti earum eligendi illum unde rem esse dicta eos sapiente, omnis hic eum provident magnam dignissimos nihil nostrum culpa.</h4>
                </div>
                <div class="author">
                  <p>Tim nice but dim</p>
                  <p>Deal, Kent</p>
                </div>
              </div>
              <div class="testimonial-content">
                <div class="quotes">
                 <i class="fa fa-quote-left"></i>
                 <i class="fa fa-quote-right"></i>
                </div>
                <div class="content-test text-center">
                 <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi nobis, fugit deleniti earum eligendi illum unde rem esse dicta eos sapiente, omnis hic eum provident magnam dignissimos nihil nostrum culpa.</h4>
                </div>
                <div class="author">
                  <p>Tim nice but dim</p>
                  <p>Deal, Kent</p>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
