<div class="testimonial-wrapper">
  <div class="testimonial-wrapper" id="testimonial">
    <div class="container-fluid">
      <div class="row">
        <div class="testimonial-title">
          <h2 data-aos="fade-left" data-aos-duration="2000">Our Clients Say</h2>
        </div>
        <div class="col-xs-12 col-sm-8 col-sm-offset-2">
          <div class="testimonial-container">
            <div class="testimonial-carousel">
              <div class="testimonial-content">
                <div class="quotes">
                  <i class="fa fa-quote-left"></i>
                  <i class="fa fa-quote-right"></i>
                </div>
                <div class="content-test text-center">
                 <h4>"So you think, “How hard can it really be to design and construct your own bunkers?”. Having designed and built a few bunkers ourselves we took some convincing before enlisting the services of Sparks and Myers.Thank goodness we did. Using their design ideas and then literally working alongside them, we now have some of the best bunkers on the course. Better by far than anything we would have achieved ourselves. Philip and Richard are experts at using the 360 excavator and got stuck in using the hand tools with the final finish. Best decision we’ve made in ages."</h4>
                </div>
                <div class="author">
                  <p>Steve Wright - Director</p>
                  <p>Dummer Golf Club</p>
                </div>
              </div>
              <div class="testimonial-content">
               <div class="quotes">
                <i class="fa fa-quote-left"></i>
                <i class="fa fa-quote-right"></i>
               </div>
               <div class="content-test text-center">
                <h4>“We have worked with Sparks & Myers over the last 12 years. Initially, they gave us a hole by hole recommendation which was invaluable to the Green Committee to be able to prioritise an action plan. We have made many changes but the bunkering has certainly made the greatest impact on the course, not only improving playability but also, dramatically improving the aesthetics. Philip & Richard have been on site for all the positioning and shaping of bunkers. Not only as architects but also with spade and rake in hand, joining in with our staff . This has saved the club hiring extra staff but also it has enabled us to make changes on the day to improve the finished product, changes that would have not happened if they had not been present.”</h4>
               </div>
               <div class="author">
                <p>Gareth Austin (Course Manager)</p>
                <p>Stoke Rochford Golf Club</p>
               </div>
              </div>
              <!-- <div class="testimonial-content">
                <div class="quotes">
                 <i class="fa fa-quote-left"></i>
                 <i class="fa fa-quote-right"></i>
                </div>
                <div class="content-test text-center">
                  <h4>"The main issue with the 11th (signature) hole was the green surface which had slopes as severe as 1:4 in places. The whole front section was severely sloped and four-putting was a common problem for players in the summer. The Club was considering making the green a two tier surface but Sparks and Myers convinced them the better solution was to lift the green was and reshape it raising the lowest area by 0.8 of a metre (just under 3 feet). A compatible rootzone was sourced and the original turf, having been stored, was reinstated, this helped to speed up the recovery time and the hole was back in play by the following spring. The bunker on the left of the green was rebuilt some 10 metres closer to the green to tighten the left hand approach and the front bunker was raised in height by over a metre to match the new green height and make it more visible from the tee.  The large right hand bunker was removed and two smaller ones built in its place."</h4>
                </div>
                <div class="author">
                  <p>Broadstone Golf Club</p>
                </div>
              </div> -->
              <div class="testimonial-content">
                <div class="quotes">
                 <i class="fa fa-quote-left"></i>
                 <i class="fa fa-quote-right"></i>
                </div>
                <div class="content-test text-center">
                 <h4>"The two bunkers on the right of our 17th Green had been a constant headache. They often flooded and then remained wet but also sand wash-down was a constant problem.  Sparks and Myers moved a huge amount of earth (far more than we would have dared ourselves) in order to redesign the shapes and to divert water around the outside of the bunkers (Philip got stuck in on a second 360 excavator to speed the process up). Once they were reshaped and rebuilt they became far more visible to the player and are now a much more pleasing shape. We also installed “Capillary Concrete” liners….. Two years on these two bunkers are probably the best two bunkers on the course and no longer flood or suffer from wash down. We spent less on these two bunkers than previous projects and have ended up with a better result. That’s a win-win!"</h4>
                </div>
                <div class="author">
                  <p>Trevor Clarke - Chairman of Green</p>
                  <p>Chestfield Golf Club</p>
                </div>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
