<%= render 'shared/banner' %>

<div id="about"></div>

<div class="description-wrapper" style="background-image: linear-gradient(rgba(250,250,250,0.9), rgba(250,250,250,0.9)), url(http://res.cloudinary.com/montycat/image/upload/v1528537737/Screen_Shot_2018-06-09_at_10.48.06.png)">
 <div class="container-fluid">
  <div class="row">
    <div class="about-title">
      <h2 data-aos="fade-left" data-aos-duration="2000">About Sparks & Myers</h2>
    </div>
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div>
        <div class="sparks-content text-center">
         <p data-aos="fade-right" data-aos-duration="2000">Philip Sparks & Richard Myers are experts in all aspects of Golf Course architecture including, planning, risk mitigation, renovations and infill projects</p>
        </div>
      </div>
     </div>
   </div>
  </div>
</div>

<div class="testimonial-wrapper">
  <%= render 'shared/testimonial-slider' %>
</div>

<%= render 'shared/projects' %>

<div class="location-map">
  <iframe class="gmap" id="gmap" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2500.6332956548213!2d1.391610815758282!3d51.18898137958408!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47deafd56a0a0761%3A0x407f79e1643825b3!2sSparks+%26+Myers!5e0!3m2!1sen!2suk!4v1527937818541" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<footer class="footer-wrapper">
  <div class="footer">
    <div class="address">
      <%= image_tag "sparksmyers_logo_large_white.png", height: 80, class: "white-logo" %>
      <li>Sparks & Myers Ltd</li>
      <li>Ventura</li>
      <li>Claremont Road</li>
      <li>Kingsdown, Kent</li>
      <li>CT14 8BU</li>
      <li>Tel: 07957 862635</li>
    </div>
    <div class="footer-links">
      <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
      <a href="#" target="_blank"><i class="fa fa-medium"></i></a>
    </div>
  </div>
</footer>
