.project-wrapper {
  min-height: 300px;
  height: auto;
}

.project-content {
  width: 66%;
  margin: auto;
}

.project-title {
  color: $brand-primary2;
}

.project-desc {
  color: $brand-primary2;
}
