.testimonial-wrapper {
  height: auto;
  background-color: #2E4057;
}

.testimonial-title {
  margin-top: 74px;
  margin-bottom: 40px;
  text-align: center;
  color: #fff;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.content-test h4 {
  color: #f4f4f4;
  font-weight: lighter;
  line-height: 1.5;
}

.quotes {
  color: #fff;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  margin-top: 30px;
  float: right;
  color: #F6BC24;
  margin-bottom: 40px;
}

.testimonials {
  display: block;
  margin: 30px auto;
  margin-bottom: 40px;
}

.slick-prev,
.slick-next {
  // left: 0px !important;
  // right: 0px !important;
  &:before {
    font-size: 38px !important;
    color: $brand-primary !important;
  }
}

.slick-dots li {
  height: 35px !important;
}
